Repository Error-418-SWE/WMS3, changes with the labels that .github/labeler.yml gives for each.
All labels: Database, Web, Docker, JS, TS, Node.js, Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Directories +++++++++++++++++++++++++++++++

"Database":
- "db/**"
- "**.sql"

"Web":
- "web/**"

# File types ++++++++++++++++++++++++++++++++

"Docker":
- "Dockerfile"
- "**.dockerfile"
- "**.dockerignore"
- "compose.yml"

"JS":
- "**.js"
- "**.jsx"

"TS":
- "**.ts"
- "**.tsx"

"Node.js":
- "package.json"
- "package-lock.json"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"

Definito template per PR
  .github/pull_request_template.md
Labels: Actions

Aggiornata versione
  web/package.json
Labels: Web

Esclusione cartelle di supporto dalle release
  web/.gitignore
Labels: Web

Rimosso commento
  .gitignore
Labels: none

Aggiunte regole di esclusione
  .github/workflows/deploy.yml
Labels: Actions

Aggiunto step di build a supporto
  .github/workflows/build_docker.yml
Labels: Actions

Aggiunto titolo step
  .github/workflows/build_docker.yml
Labels: Actions

Aggiornata locaizone Dockerfile
  .github/workflows/build_docker.yml
Labels: Actions

Rimosso trigger
  .github/workflows/build_docker.yml
Labels: Actions

Rimosso riferimento al fornitore
  .github/workflows/deploy.yml
Labels: Actions

Definito workflow di test per Node.js
  .github/workflows/test_nodejs.yml
Labels: Actions

added configuration for testing
  web/__test__/fileToTestName.test.tsx
  web/jest.config.js
  web/package-lock.json
  web/package.json
Labels: Web

creazione dell'API per la sanitizzazione
  web/__test__/SVGSanitizer.test.ts
  web/package-lock.json
  web/package.json
  web/pages/api/SVGSanitizer.ts
Labels: Web

added API test with basic/bassani examples
  web/__test__/SVGSanitizer.test.ts
  web/__test__/fileToTestName.test.tsx
  web/__test__/svg_test_files/MateriaPrima.svg
  web/__test__/svg_test_files/NOTSanitizedSVG.svg
  web/__test__/svg_test_files/sanitizedSVG.svg
  web/__test__/svg_test_files/sanitized_MateriaPrima.svg
  web/package-lock.json
  web/package.json
  web/pages/api/SVGSanitizer.ts
Labels: Web

added "how to call the API" comment
  web/pages/api/SVGSanitizer.ts
Labels: Web

added test comment
  web/__test__/SVGSanitizer.test.ts
Labels: Web

reorganized svg test folder
  web/__test__/SVGSanitizer.test.ts
  web/__test__/svg_test_files/testDompurify/dompurify_NOT_sanitized.svg
  web/__test__/svg_test_files/testDompurify/dompurify_sanitized.svg
  web/__test__/svg_test_files/testSanmarcoInformatica/materiaPrima_NOT_sanitized.svg
  web/__test__/svg_test_files/testSanmarcoInformatica/materiaPrima_sanitized.svg
Labels: Web

renamed SVGSanitizer function
  web/__test__/SVGSanitizer.test.ts
  web/pages/api/SVGSanitizer.ts
Labels: Web

Changed test logic due to whitespaces error in dompurify
  web/__test__/SVGSanitizer.test.ts
  web/out.svg
  web/pages/api/SVGSanitizer.ts
Labels: Web

removed debug things
  web/__test__/SVGSanitizer.test.ts
  web/out.svg
Labels: Web

Aggiunta configurazione Tailwind, shadcdn
  web/app/globals.css
  web/components.json
  web/lib/utils.ts
  web/package-lock.json
  web/package.json
  web/postcss.config.js
  web/tailwind.config.ts
Labels: Web

added basic components
  web/components/ui/button.tsx
  web/components/ui/card.tsx
  web/components/ui/dialog.tsx
  web/components/ui/sonner.tsx
  web/package-lock.json
  web/package.json
Labels: Web

created first page (no logic)
  web/app/page.tsx
Labels: Web

added sheet component
  web/components/ui/sheet.tsx
Labels: Web

added basic components
  web/app/page.tsx
  web/components/ui/button.tsx
  web/components/ui/card.tsx
  web/components/ui/dialog.tsx
  web/components/ui/sonner.tsx
  web/package-lock.json
  web/package.json
Labels: Web

added sheet component
  web/components/ui/sheet.tsx
Labels: Web

added basic components
  web/components/ui/button.tsx
  web/components/ui/card.tsx
  web/components/ui/dialog.tsx
  web/components/ui/sheet.tsx
  web/components/ui/sonner.tsx
  web/package-lock.json
  web/package.json
Labels: Web

basic landing page
  web/app/page.tsx
Labels: Web

creata landing page con form custom
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/ui/form.tsx
  web/components/ui/input.tsx
  web/components/ui/label.tsx
  web/components/ui/radio-group.tsx
  web/package-lock.json
  web/package.json
Labels: Web

added default choice
  web/components/custom/creationForm.tsx
Labels: Web

signle point for string of title and descriuption
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/manualCreationFrame.tsx
Labels: Web

form creazione manuale + refactor del form
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/manualCreationFrame.tsx
  web/components/ui/checkbox.tsx
  web/package-lock.json
  web/package.json
Labels: Web

svg creation frame
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/dropFileArea.tsx
  web/components/custom/manualCreationFrame.tsx
  web/components/custom/svgCreationFrame.tsx
  web/components/ui/select.tsx
  web/package-lock.json
  web/package.json
Labels: Web

graphic adjustment
  web/components/custom/manualCreationFrame.tsx
Labels: Web

Fix drop area
  web/components/custom/dropFileArea.tsx
Labels: Web

added svg drop area dynamic appear only for custom svgs
  web/components/custom/dropFileArea.tsx
  web/components/custom/svgCreationFrame.tsx
Labels: Web

zod validation
  web/components/custom/creationForm.tsx
  web/components/custom/dropFileArea.tsx
  web/components/custom/manualCreationFrame.tsx
  web/components/custom/svgCreationFrame.tsx
Labels: Web

SVG Sanitizer feature #minor
  web/pages/api/SVGSanitizer.ts
Labels: Web

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

choice creation form #minor
  web/components/custom/dropFileArea.tsx
Labels: Web
