Repository Error-418-SWE/WMS3, changes with the labels that .github/labeler.yml gives for each.
All labels: Database, Web, Docker, JS, TS, Node.js, Actions

tailwind
  web/components/three.js/Warehouse.tsx
  web/tailwind.config.ts
Labels: Web

aggiustata distanza dal piano
  web/components/three.js/Floor.tsx
Labels: Web

dumb push
  db/error418_DB.sql
  web/app/main/page.tsx
  web/components/custom/panels/Zone/levelItem.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/model/bin.ts
  web/model/zone.ts
Labels: Database, Web

Aggiunta configurazione hook useForm
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

zone creation #minor
  web/components/custom/panels/Zone/levelItem.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItem.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/components/custom/panels/Zone/zoneZodSchemes.ts
  web/components/providers/zonesProvider.tsx
Labels: Web

bin id as string
  web/model/bin.ts
Labels: Web

search bin by id with string
  web/model/zone.ts
Labels: Web

Created Product Item in Product Panel
  web/components/custom/panels/Products/productItem.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
Labels: Web

Created component ScrollArea
  web/components/ui/scroll-area.tsx
Labels: Web

Corrected Product Item Details
  web/components/custom/panels/Products/productItemDetails.tsx
Labels: Web

Removed unused imports
  web/components/custom/panels/Products/productItem.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
Labels: Web

Added ScrollArea
  web/components/custom/panels/Products/productsPanel.tsx
Labels: Web

nColumns also accept integer
  web/components/custom/panels/Zone/zoneZodSchemes.ts
Labels: Web

added check in checkIfEqualColumns and refactoring
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

fixed Details icon size
  web/components/custom/panels/Products/productItem.tsx
Labels: Web

minor edits
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
Labels: Web

update package.json
  web/package.json
Labels: Web

update package-lock.json
  web/package-lock.json
Labels: Web

tentativo risoluzione errori
  web/components/three.js/Floor.tsx
  web/components/three.js/Warehouse.tsx
Labels: Web

Created Panel component
  web/components/custom/panels/panel.tsx
Labels: Web

cambiati dati db
  db/error418_DB.sql
Labels: Database

created ElementDetailsProvider
  web/components/custom/panels/Products/productItem.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/providers/UI-Providers/ElementDetailsProvider.tsx
Labels: Web

update productItemDetails
  web/components/custom/panels/Products/productItemDetails.tsx
Labels: Web

updated main/page.tsx
  web/app/main/page.tsx
Labels: Web

rimosso import non utilizzato
  web/components/custom/panels/Zone/zonePanel.tsx
Labels: Web

aggiunti metodi per il controllo della colonna e del ripiano più esterni utilizzati
  web/model/zone.ts
Labels: Web

inseriti setId e set product per i bin
  web/model/bin.ts
Labels: Web

aggiunto metodo di modifica di una zona per Id
  web/components/providers/zonesProvider.tsx
Labels: Web

rimosso import non utilizzato
  web/components/custom/panels/Zone/zoneItemDetails.tsx
Labels: Web

aggiunto controllo se un livello può essere rimosso
  web/components/custom/panels/Zone/levelItem.tsx
Labels: Web

implementazione creazione e modifica dello scaffale #minor
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

removed unused imports and comments #minor
  web/components/custom/panels/Products/productItemDetails.tsx
Labels: Web

fix direzione non modificabile
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

aggiunta possibilità di cancellare un livello solo se ne sono presenti almeno 2
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

fix useState usato in una funzione non componente
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

aggiunto attributo mancante height al prodotto
  web/dataMapper/productMapper.ts
  web/model/product.ts
Labels: Web

definita nuova classe dataSpan per somiglianza al mock up
  web/app/globals.css
Labels: Web

aggiornate le bin_columns in modo che il pulsante info di un bin apra mostri il pannello di dettagli
  web/components/custom/panels/Zone/bin_columns.tsx
Labels: Web

sostituzione dei campi input disabilitati con span e stile appropriato
  web/components/custom/panels/Zone/zoneItemDetails.tsx
Labels: Web

aggiunto stile agli span e aggiunta visualizzazione attributo height del prodotto
  web/components/custom/panels/Products/productItemDetails.tsx
Labels: Web

.github/labeler.yml:

# Configuration file for label_pr.yml

# Directories +++++++++++++++++++++++++++++++

"Database":
- "db/**"
- "**.sql"

"Web":
- "web/**"

# File types ++++++++++++++++++++++++++++++++

"Docker":
- "Dockerfile"
- "**.dockerfile"
- "**.dockerignore"
- "compose.yml"

"JS":
- "**.js"
- "**.jsx"

"TS":
- "**.ts"
- "**.tsx"

"Node.js":
- "package.json"
- "package-lock.json"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
