Repository Error-418-SWE/WMS3, changes with the labels that .github/labeler.yml gives for each.
All labels: Database, Web, Docker, JS, TS, Node.js, Actions

rimozione toFixed perchè non riconosciuto
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
Labels: Web

fix ricerca
  web/components/custom/panels/Bin/productCombobox.tsx
Labels: Web

Nasconde overflow dimensioni
  web/app/globals.css
Labels: Web

alert removed
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

Corretta compenetrazione piani
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/ThreeComponents/Warehouse.tsx
Labels: Web

Rinominata funzione per renderla più espressiva
  web/__test__/DataMapperTest/zoneMapper.test.ts
  web/__test__/Unit Test/ModelTest/zone.test.ts
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/model/zone.ts
Labels: Web

Migliorata strategia di posizionamento della camera in base all'orientamento della zona
  web/components/custom/panels/Zone/zoneItemDetails.tsx
Labels: Web

Configurato Jest per fornire anche testo
  web/jest.config.js
Labels: Web

Aggiunto test su Node.js 18 LTS
  .github/workflows/test_nodejs.yml
Labels: Actions

Aggiunto trigger manuale per esecuzione GHA
  .github/workflows/test_nodejs.yml
Labels: Actions

Whitespace
  .github/workflows/test_nodejs.yml
Labels: Actions

Aggiunta configurazione per Coveralls
  .github/workflows/test_nodejs.yml
Labels: Actions

Commenta la PR e la run con il report
  .github/workflows/test_nodejs.yml
Labels: Actions

Ridotto livello del titolo
  .github/workflows/test_nodejs.yml
Labels: Actions

Passaggio del token a Coveralls
  .github/workflows/test_nodejs.yml
Labels: Actions

Corretto path
  .github/workflows/test_nodejs.yml
Labels: Actions

Corretto path
  .github/workflows/test_nodejs.yml
Labels: Actions

Rimossa Action
  .github/workflows/test_nodejs.yml
Labels: Actions

Aggiornata modalità di output
  .github/workflows/test_nodejs.yml
Labels: Actions

Aggiunto titolo al report
  .github/workflows/test_nodejs.yml
Labels: Actions

Rifacimento UI
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/custom/panels/Orders/orderItem.tsx
  web/components/custom/panels/Products/productItem.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/custom/panels/Zone/zoneItem.tsx
Labels: Web

Aggiornato URL Coveralls
  README.md
Labels: none

Aggiunta esecuzione manuale
  .github/workflows/build_docker.yml
Labels: Actions

Corretto numero di versione
  .github/workflows/build_docker.yml
Labels: Actions

Aggiornato path
  .github/workflows/build_docker.yml
Labels: Actions

Aggiornato path
  .github/workflows/build_docker.yml
Labels: Actions

Aggiunto riferimento al repo
  web.Dockerfile
Labels: none

Aggiunti dettagli di deploy
  README.md
  web/README.md
Labels: Web

Aggiornato nome del container
  compose.yml
Labels: Docker

[skipci] aggiornamento collocamento pattern
  web/model/FloorStrategy/FloorStrategy.tsx
  web/model/dataMapper/binMapper.ts
  web/model/dataMapper/dataMapperInterface.ts
  web/model/dataMapper/productMapper.ts
  web/model/dataMapper/zoneMapper.ts
  web/model/dataRepository/dataRepositoryInterface.ts
  web/model/dataRepository/productRepository.ts
  web/model/dataRepository/zoneRepository.ts
Labels: Web

[skip ci] aggiornamento collocamento pattern
  web/model/FloorStrategy/FloorStrategy.tsx
  web/model/dataMapper/binMapper.ts
  web/model/dataMapper/dataMapperInterface.ts
  web/model/dataMapper/productMapper.ts
  web/model/dataMapper/zoneMapper.ts
  web/model/dataRepository/dataRepositoryInterface.ts
  web/model/dataRepository/productRepository.ts
  web/model/dataRepository/zoneRepository.ts
Labels: Web

pulizia del codice, rimozione import non usati, console.log, e bin provider e bin repository
  web/ServerActions/SVG/readSavedSVG.tsx
  web/ServerActions/SVG/saveSVG.tsx
  web/Strategy/FloorStrategy.tsx
  web/__test__/DataMapperTest/binMapper.test.ts
  web/__test__/DataMapperTest/productMapper.test.ts
  web/__test__/DataMapperTest/zoneMapper.test.ts
  web/__test__/Integration Test/Repository/binRepository.test.ts
  web/__test__/Integration Test/Repository/productRepository.test.ts
  web/__test__/Integration Test/Repository/zoneRepository.test.ts
  web/app/main/page.tsx
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/custom/panels/Settings/floorDimensionsItem.tsx
  web/components/custom/panels/Settings/restoreItem.tsx
  web/components/custom/panels/Zone/bin_columns.tsx
  web/components/custom/panels/Zone/levelItem.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItem.tsx
  web/components/providers/Threejs/warehouseProvider.tsx
  web/components/providers/binsProvider.tsx
  web/components/providers/ordersProvider.tsx
  web/components/providers/productsProvider.tsx
  web/components/providers/zonesProvider.tsx
  web/dataMapper/binMapper.ts
  web/dataMapper/dataMapperInterface.ts
  web/dataMapper/productMapper.ts
  web/dataMapper/zoneMapper.ts
  web/dataRepository/binRepository.ts
  web/dataRepository/dataRepositoryInterface.ts
  web/dataRepository/productRepository.ts
  web/dataRepository/zoneRepository.ts
Labels: Web

aggiornati i test
  web/__test__/Integration Test/SVG/readSavedSVG.test.ts
  web/__test__/Integration Test/SVG/saveSVG.test.ts
Labels: Web

.github/labeler.yml:

# Configuration file for label_pr.yml

# Directories +++++++++++++++++++++++++++++++

"Database":
- "db/**"
- "**.sql"

"Web":
- "web/**"

# File types ++++++++++++++++++++++++++++++++

"Docker":
- "Dockerfile"
- "**.dockerfile"
- "**.dockerignore"
- "compose.yml"

"JS":
- "**.js"
- "**.jsx"

"TS":
- "**.ts"
- "**.tsx"

"Node.js":
- "package.json"
- "package-lock.json"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"
