Repository Error-418-SWE/WMS3, changes with the labels that .github/labeler.yml gives for each.
All labels: Database, Web, Docker, JS, TS, Node.js, Actions

.github/labeler.yml:

# Configuration file for label_pr.yml

# Directories +++++++++++++++++++++++++++++++

"Database":
- "db/**"
- "**.sql"

"Web":
- "web/**"

# File types ++++++++++++++++++++++++++++++++

"Docker":
- "Dockerfile"
- "**.dockerfile"
- "**.dockerignore"
- "compose.yml"

"JS":
- "**.js"
- "**.jsx"

"TS":
- "**.ts"
- "**.tsx"

"Node.js":
- "package.json"
- "package-lock.json"

# Misc +++++++++++++++++++++++++++++++++++++

"Actions":
- "**/.github/**"

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

Update test_nodejs.yml
  .github/workflows/test_nodejs.yml
Labels: Actions

Aggiornato package-lock
  web/package-lock.json
Labels: Web

Aggiornato package-lock
  web/package-lock.json
Labels: Web

added clsx and class-variance-authority dependencies
  web/package-lock.json
  web/package.json
Labels: Web

fix package-lock not syncronized
  web/package-lock.json
Labels: Web

fix package-lock
  web/package-lock.json
Labels: Web

removed select for svg seleciton
  web/components/custom/creationForm.tsx
  web/components/custom/svgCreationFrame.tsx
Labels: Web

added #patch tag
  web/components/custom/creationForm.tsx
Labels: Web

removed unused import and fix type any
  web/components/custom/creationForm.tsx
Labels: Web

integration between uploading the SVG file and its sanitization
  web/components/custom/dropFileArea.tsx
Labels: Web

provider pattern implemented for svgProcessing state
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/dropFileArea.tsx
  web/components/providers/SvgProcessingProvider.tsx
Labels: Web

handle bad API response #minor
  web/components/custom/creationForm.tsx
  web/components/custom/dropFileArea.tsx
  web/pages/api/SVGSanitizer.ts
Labels: Web

sostituzione file sql con uno aggiornato allo schema ER
  db/database.sql
  db/error418_DB.sql
Labels: Database

fix import missing #patch
  web/components/custom/creationForm.tsx
Labels: Web

added progress component from shadcn
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/loadingBar.tsx
  web/components/ui/progress.tsx
  web/package-lock.json
  web/package.json
Labels: Web

added progress component from shadcn
  web/components/custom/loadingBar.tsx
  web/components/ui/progress.tsx
Labels: Web

repositioning for better order
  web/app/page.tsx
  web/app/serverActions.ts
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/loadingBar.tsx
  web/components/custom/creationForm/manualCreationFrame.tsx
  web/components/custom/creationForm/svgCreationFrame.tsx
  web/components/custom/loadingBar.tsx
Labels: Web

progress bar implementtion and progression logic #minor
  web/app/page.tsx
  web/app/serverActions.ts
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/loadingBar.tsx
  web/components/providers/SvgProcessingProvider.tsx
  web/components/providers/formContextProvider.tsx
Labels: Web

Aggiunta configurazione Compose per server
  production.yml
Labels: none

Aggiornato comando di deploy
  .github/workflows/deploy.yml
Labels: Actions

separation between creationFrom and zod scheme creation #patch
  web/app/page.tsx
  web/app/serverActions.ts
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/zodScheme.ts
Labels: Web

added empty main page
  web/app/app.tsx
Labels: Web

first 2 voices of navbar
  web/app/app/page.tsx
  web/public/icons/logo.svg
  web/public/icons/zone.svg
Labels: Web

implemented panel visualizzation logic
  web/app/app/page.tsx
  web/components/custom/panels/ordersPanel.tsx
  web/components/custom/panels/productsPanel.tsx
  web/components/custom/panels/zonePanel.tsx
  web/public/icons/orders.svg
  web/public/icons/products.svg
Labels: Web

panels will now be shown as overlay. Added canvas in the page
  web/app/app/page.tsx
  web/components/custom/panels/ordersPanel.tsx
  web/components/custom/panels/productsPanel.tsx
  web/components/custom/panels/settingsPanel.tsx
  web/components/custom/panels/zonePanel.tsx
  web/components/ui/tabs.tsx
  web/package-lock.json
  web/package.json
  web/public/icons/add.svg
  web/public/icons/reload.svg
  web/public/icons/settings.svg
Labels: Web

fixed canvas overlay #minor
  web/app/app/page.tsx
  web/components/custom/panels/ordersPanel.tsx
  web/components/custom/panels/productsPanel.tsx
  web/components/custom/panels/settingsPanel.tsx
  web/components/custom/panels/zonePanel.tsx
Labels: Web

uniformed className usage #patch
  web/app/app.tsx
  web/app/app/page.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/manualCreationFrame.tsx
  web/components/custom/panels/ordersPanel.tsx
  web/components/custom/panels/productsPanel.tsx
  web/components/custom/panels/zonePanel.tsx
Labels: Web

passing data from creation page to app page #minor
  web/app/app/page.tsx
  web/app/page.tsx
  web/app/serverActions.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/zodScheme.ts
  web/components/custom/panels/settingsPanel.tsx
  web/package-lock.json
Labels: Web

Suspanse missing around component using useSearchParameters
  web/app/app/page.tsx
  web/components/custom/panels/ordersPanel.tsx
Labels: Web

fix docker compose with last database update #patch
  compose.yml
Labels: Docker

Aggiornata configurazione di production
  production.yml
Labels: none

corretti typo
  db/error418_DB.sql
Labels: Database

aggiunti parametri di ordine a livelli e colonne
  db/error418_DB.sql
Labels: Database

aggiunti NOT NULL
  db/error418_DB.sql
Labels: Database

added product class #patch
  web/model/product.ts
Labels: Web
