Repository Error-418-SWE/WMS3, pull requests merged in 2024-03, with the labels that each got.

#4 WMS-47 Scrivere modulo di gestione SVG
  web/__test__/SVGSanitizer.test.ts
  web/__test__/fileToTestName.test.tsx
  web/__test__/svg_test_files/testDompurify/dompurify_NOT_sanitized.svg
  web/__test__/svg_test_files/testDompurify/dompurify_sanitized.svg
  web/__test__/svg_test_files/testSanmarcoInformatica/materiaPrima_NOT_sanitized.svg
  web/__test__/svg_test_files/testSanmarcoInformatica/materiaPrima_sanitized.svg
  web/package-lock.json
  web/package.json
  web/pages/api/SVGSanitizer.ts
Labels: Web

#11 added clsx and class-variance-authority dependencies
  web/package-lock.json
  web/package.json
Labels: Web

#10 [TEST] Landing page
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/dropFileArea.tsx
  web/components/custom/manualCreationFrame.tsx
  web/components/custom/svgCreationFrame.tsx
  web/components/ui/checkbox.tsx
  web/components/ui/form.tsx
  web/components/ui/input.tsx
  web/components/ui/label.tsx
  web/components/ui/radio-group.tsx
  web/components/ui/select.tsx
  web/package-lock.json
  web/package.json
Labels: Web

#12 WMS-59 Rimozione selezione multipla degli SVG
  web/components/custom/creationForm.tsx
  web/components/custom/svgCreationFrame.tsx
Labels: Web

#14 WMS-58 Integrare caricamento SVG con API di sanificazione
  web/app/page.tsx
  web/components/custom/creationForm.tsx
  web/components/custom/dropFileArea.tsx
  web/components/providers/SvgProcessingProvider.tsx
  web/pages/api/SVGSanitizer.ts
Labels: Web

#16 WMS-75 Implementare loading components dopo il submit del form di creazione
  web/app/app.tsx
  web/app/page.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/manualCreationFrame.tsx
  web/components/custom/creationForm/svgCreationFrame.tsx
  web/components/custom/creationForm/zodScheme.ts
  web/components/providers/SvgProcessingProvider.tsx
  web/components/providers/formContextProvider.tsx
  web/components/ui/progress.tsx
  web/package-lock.json
  web/package.json
Labels: Web

#13 WMS-49 Sostituito file SQL con uno aggiornato allo schema ER
  db/database.sql
  db/error418_DB.sql
Labels: Database

#15 WMS-48 Configurare production.yml per Docker Compose
  .github/workflows/deploy.yml
  production.yml
Labels: Actions

#17 WMS-74 Inviare i dati validati dalla pagina di creazione alla main page
  web/app/app.tsx
  web/app/app/page.tsx
  web/app/page.tsx
  web/app/serverActions.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/manualCreationFrame.tsx
  web/components/custom/creationForm/zodScheme.ts
  web/components/custom/panels/ordersPanel.tsx
  web/components/custom/panels/productsPanel.tsx
  web/components/custom/panels/settingsPanel.tsx
  web/components/custom/panels/zonePanel.tsx
  web/components/ui/tabs.tsx
  web/package-lock.json
  web/package.json
  web/public/icons/add.svg
  web/public/icons/logo.svg
  web/public/icons/orders.svg
  web/public/icons/products.svg
  web/public/icons/reload.svg
  web/public/icons/settings.svg
  web/public/icons/zone.svg
Labels: Web

#18 WMS-77 Aggiornare docker compose a seguito dell'aggiornamento del database
  compose.yml
Labels: Docker

#19 WMS-78 Migliorare file SQL
  db/error418_DB.sql
Labels: Database

#20 WMS-82 Implementare la classe Product
  web/model/product.ts
Labels: Web

#21 WMS-81 Implementare la classe bin
  web/model/bin.ts
  web/model/product.ts
Labels: Web

#22 WMS-80 Implementare la classe Zone
  web/model/zone.ts
Labels: Web

#23 WMS-51 popolare la tabella product, category e categorize
  db/error418_DB.sql
Labels: Database

#24 WMS-84 implementare zone panel item
  web/app/main/page.tsx
  web/app/page.tsx
  web/components/custom/panels/Orders/ordersPanel.tsx
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/custom/panels/Settings/settingsPanel.tsx
  web/components/custom/panels/Zone/bin_columns.tsx
  web/components/custom/panels/Zone/zoneItem.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/components/custom/panels/Zone/zonePanel.tsx
  web/components/custom/panels/zonePanel.tsx
  web/components/ui/data-table.tsx
  web/components/ui/table.tsx
  web/model/bin.ts
  web/model/zone.ts
  web/package-lock.json
  web/package.json
  web/public/icons/delete.svg
  web/public/icons/info.svg
  web/public/icons/visualize.svg
Labels: Web

#28 WMS-71 Implementare importazione dei dati da db
  db/error418_DB.sql
  web/app/main/page.tsx
  web/app/page.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/manualCreationFrame.tsx
  web/components/custom/creationForm/svgCreationFrame.tsx
  web/components/custom/panels/Orders/ordersPanel.tsx
  web/components/custom/panels/Zone/zonePanel.tsx
  web/components/providers/binsProvider.tsx
  web/components/providers/productsProvider.tsx
  web/components/providers/zonesProvider.tsx
  web/dataMapper/binMapper.ts
  web/dataMapper/productMapper.ts
  web/dataMapper/zoneMapper.ts
  web/dataRepository/binRepository.ts
  web/dataRepository/productRepository.ts
  web/dataRepository/zoneRepository.ts
  web/model/bin.ts
  web/model/product.ts
  web/package-lock.json
  web/package.json
  web/pages/api/binofzone/[id].ts
  web/pages/api/bins.ts
  web/pages/api/bins/[id].ts
  web/pages/api/products.ts
  web/pages/api/products/[id].ts
  web/pages/api/zones.ts
Labels: Database, Web

#31 WMS-90 Inserire proprietà min per gli input numerici nel form di creazione SVG
  web/components/custom/creationForm/svgCreationFrame.tsx
Labels: Web

#30 WMS-89 Inserire proprietà min per gli input numerici nel form di creazione manuale
  web/components/custom/creationForm/manualCreationFrame.tsx
Labels: Web

#29 WMS-88 Rimuovere Progress Bar
  web/app/page.tsx
  web/components/ui/progress.tsx
Labels: Web

#32 WMS-93 Rimuovere pulsante sincronizzazione da Product Panel
  web/components/custom/panels/Products/productsPanel.tsx
Labels: Web

#33 WMS-50 Aggiunti insert di zone, livelli, colonne e bin
  db/error418_DB.sql
Labels: Database

#27 WMS-72 Realizzare creazione piano rettangolare
  web/app/main/page.tsx
  web/components/three.js/Floor.tsx
  web/components/three.js/Warehouse.tsx
  web/tailwind.config.ts
Labels: Web

#35 Cambiati dati database
  db/error418_DB.sql
Labels: Database

#34 WMS-97 Implementare Product Item per il Product Panel
  web/app/main/page.tsx
  web/components/custom/panels/Products/productItem.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/custom/panels/panel.tsx
  web/components/providers/UI-Providers/ElementDetailsProvider.tsx
  web/components/ui/scroll-area.tsx
  web/package-lock.json
  web/package.json
Labels: Web

#36 WMS-99 Implementare creazione della zona
  web/app/main/page.tsx
  web/components/custom/panels/Zone/bin_columns.tsx
  web/components/custom/panels/Zone/levelItem.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItem.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/components/custom/panels/Zone/zonePanel.tsx
  web/components/custom/panels/Zone/zoneZodSchemes.ts
  web/components/custom/panels/panel.tsx
  web/components/providers/zonesProvider.tsx
  web/dataMapper/zoneMapper.ts
  web/model/bin.ts
  web/model/zone.ts
Labels: Web

#38 WMS-94 Rimosso pulsante reload da ordini di movimentazione
  web/components/custom/panels/Orders/ordersPanel.tsx
Labels: Web

#39 WMS-86 Implementare order panel item
  web/app/main/page.tsx
  web/components/custom/panels/Orders/orderItem.tsx
  web/components/custom/panels/Orders/ordersPanel.tsx
  web/components/providers/ordersProvider.tsx
  web/model/order.ts
  web/pages/api/bins.ts
  web/public/icons/arrow.svg
Labels: Web

#40 WMS-95 Implementare bottone sincronizzazione in settings panel
  web/app/main/page.tsx
  web/components/custom/panels/Settings/restoreItem.tsx
  web/components/custom/panels/Settings/settingsPanel.tsx
  web/components/custom/panels/Zone/zoneItem.tsx
  web/components/providers/binsProvider.tsx
  web/components/providers/ordersProvider.tsx
  web/components/providers/productsProvider.tsx
  web/components/providers/zonesProvider.tsx
Labels: Web

#41 WMS-110 Conversione API in Server Actions
  web/ServerActions/Bins/getAllBins.tsx
  web/ServerActions/Bins/getBinById.tsx
  web/ServerActions/Products/getAllProducts.tsx
  web/ServerActions/Products/getProductById.tsx
  web/ServerActions/SVG/SVGSanitize.tsx
  web/ServerActions/SVG/saveSVG.tsx
  web/ServerActions/Zones/getAllZones.tsx
  web/ServerActions/Zones/getBinsByZoneId.tsx
  web/__test__/SVGSanitizer.test.ts
  web/app/serverActions.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/providers/binsProvider.tsx
  web/dataRepository/binRepository.ts
  web/dataRepository/productRepository.ts
  web/dataRepository/zoneRepository.ts
  web/package-lock.json
  web/package.json
  web/pages/api/SVGSanitizer.ts
  web/pages/api/binofzone/[id].ts
  web/pages/api/bins/[id].ts
  web/pages/api/zones.ts
Labels: Web

#42 WMS-106 Aggiungere classe floor al modello
  web/model/floor.ts
Labels: Web

#43 WMS-107 Creare oggetto floor nel main e passarlo al component warehouse
  web/ServerActions/SVG/readSavedSVG.tsx
  web/app/main/page.tsx
  web/components/providers/floorProvider.tsx
  web/components/three.js/Floor.tsx
  web/components/three.js/Warehouse.tsx
Labels: Web

#44 WMS-111 Implementare strategy pattern per la creazione del piano
  web/Strategy/FloorStrategy.tsx
  web/app/main/page.tsx
Labels: Web

#45 WMS-98 Implementare campi di modifica delle dimensioni della planimetria in settings panel
  web/components/custom/panels/Settings/floorDimensionsItem.tsx
  web/components/custom/panels/Settings/settingsPanel.tsx
  web/components/custom/panels/Settings/zodDimensionScheme.ts
  web/model/floor.ts
Labels: Web

#46 WMS-102 Implementare simulazione delle API per lo spostamento dei prodotti
  web/pages/api/movement.ts
Labels: Web

#47 WMS-109 Implementare interfaccia data mapper
  web/ServerActions/Products/getProductById.tsx
  web/ServerActions/Zones/getZoneById.tsx
  web/components/providers/binsProvider.tsx
  web/components/providers/productsProvider.tsx
  web/components/providers/zonesProvider.tsx
  web/dataMapper/binMapper.ts
  web/dataMapper/dataMapperInterface.ts
  web/dataMapper/productMapper.ts
  web/dataMapper/zoneMapper.ts
  web/dataRepository/binRepository.ts
  web/dataRepository/dataRepositoryInterface.ts
  web/dataRepository/productRepository.ts
  web/dataRepository/zoneRepository.ts
  web/model/zone.ts
Labels: Web

#49 WMS-101 Implementare test per le Server Action
  web/.env
  web/ServerActions/Bins/getAllBins.tsx
  web/ServerActions/Bins/getBinById.tsx
  web/ServerActions/Products/getAllProducts.tsx
  web/ServerActions/Products/getProductById.tsx
  web/ServerActions/SVG/SVGSanitize.tsx
  web/ServerActions/Zones/getAllZones.tsx
  web/ServerActions/Zones/getBinsByZoneId.tsx
  web/ServerActions/Zones/getZoneById.tsx
  web/__test__/DataMapperTest/binMapper.test.ts
  web/__test__/DataMapperTest/productMapper.test.ts
  web/__test__/DataMapperTest/zoneMapper.test.ts
  web/__test__/Integration Test/Bins/getAllBins.test.ts
  web/__test__/Integration Test/Bins/getBinById.test.ts
  web/__test__/Integration Test/Products/getAllProducts.test.ts
  web/__test__/Integration Test/Products/getProductById.test.ts
  web/__test__/Integration Test/Repository/binRepository.test.ts
  web/__test__/Integration Test/Repository/productRepository.test.ts
  web/__test__/Integration Test/Repository/zoneRepository.test.ts
  web/__test__/Integration Test/SVG/SVGSanitizer.test.ts
  web/__test__/Integration Test/SVG/readSavedSVG.test.ts
  web/__test__/Integration Test/SVG/saveSVG.test.ts
  web/__test__/Integration Test/SVG/svg_test_files/testDompurify/dompurify_NOT_sanitized.svg
  web/__test__/Integration Test/SVG/svg_test_files/testDompurify/dompurify_sanitized.svg
  web/__test__/Integration Test/SVG/svg_test_files/testSanmarcoInformatica/materiaPrima_NOT_sanitized.svg
  web/__test__/Integration Test/SVG/svg_test_files/testSanmarcoInformatica/materiaPrima_sanitized.svg
  web/__test__/Integration Test/Zones/getAllZones.test.ts
  web/__test__/Integration Test/Zones/getBinsByZoneId.test.ts
  web/__test__/Integration Test/Zones/getZoneById.test.ts
  web/__test__/Unit Test/ModelTest/bin.test.ts
  web/__test__/Unit Test/ModelTest/floor.test.ts
  web/__test__/Unit Test/ModelTest/order.test.ts
  web/__test__/Unit Test/ModelTest/product.test.ts
  web/__test__/Unit Test/ModelTest/zone.test.ts
  web/dataRepository/binRepository.ts
  web/jest.config.js
  web/model/bin.ts
  web/model/zone.ts
Labels: Web

#50 WMS-113 Implementare componente 3 d bin
  web/components/three.js/Model3D/Floor.tsx
  web/components/three.js/Model3D/bin3D.tsx
  web/components/three.js/Warehouse.tsx
Labels: Web

#51 WMS-127 Aggiornato file SQL per il database
  db/error418_DB.sql
Labels: Database

#53 WMS-112 Implementare componente 3D Zona
  web/app/main/page.tsx
  web/app/page.tsx
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/ThreeComponents/Model3D/bin3D.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/ThreeComponents/Warehouse.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/panels/Products/productItem.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/providers/Threejs/warehouseProvider.tsx
  web/components/providers/UI-Providers/formContextProvider.tsx
  web/components/providers/binsProvider.tsx
  web/components/providers/productsProvider.tsx
  web/components/providers/zonesProvider.tsx
  web/components/three.js/Model3D/bin3D.tsx
  web/components/three.js/Warehouse.tsx
  web/components/ui/progress.tsx
  web/model/zone.ts
  web/package-lock.json
  web/package.json
Labels: Web

#55 WMS-126 Implementare check per decidere se caricare dati dal database
  web/app/main/page.tsx
  web/components/providers/binsProvider.tsx
  web/components/providers/productsProvider.tsx
  web/components/providers/zonesProvider.tsx
Labels: Web

#56 WMS-122 Implementare drag and drop da un bin pieno ad un altro per spostare il prodotto
  web/app/main/page.tsx
  web/components/ThreeComponents/Model3D/bin3D.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/ThreeComponents/Warehouse.tsx
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/providers/Threejs/warehouseProvider.tsx
  web/components/ui/toast.tsx
  web/components/ui/toaster.tsx
  web/components/ui/use-toast.ts
  web/model/bin.ts
  web/package-lock.json
  web/package.json
  web/pages/api/movement.ts
Labels: Web

#52 WMS-73 Realizzare creazione piano personalizzato SVG in Three.js
  web/__test__/Unit Test/ModelTest/floor.test.ts
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/panels/Settings/floorDimensionsItem.tsx
  web/model/floor.ts
  web/model/svg.ts
Labels: Web

#57 WMS-115 Implementare ricerca dei prodotti
  web/ServerActions/Products/getAllCategories.tsx
  web/__test__/Unit Test/ModelTest/floor.test.ts
  web/components/custom/panels/Products/SearchEngine/searchEngine.ts
  web/components/custom/panels/Products/SearchEngine/searchStrategies.ts
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/providers/productsProvider.tsx
  web/dataRepository/productRepository.ts
Labels: Web

#58 WMS-131 Rimuovere await alla creazione dell'ordine mediante drag n drop
  web/components/ThreeComponents/Model3D/bin3D.tsx
Labels: Web

#60 WMS-132 Correggere lista prodotti non collocati non correttamente inizializzata
  web/components/custom/panels/Products/productsPanel.tsx
Labels: Web

#59 WMS-128 Adeguate coordinate e zone nel database al file SVG
  db/error418_DB.sql
Labels: Database

#62 WMS-133 Dimensioni bin in Threejs non aggiornate a seguito della modifica dello scaffale
  web/components/ThreeComponents/Model3D/bin3D.tsx
Labels: Web

#63 WMS-134 Corretto Re-render con ricreazione della rappresentazione del file SVG [performance issue]
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
Labels: Web

#64 WMS-135 Perfomance issue causato dallo useState per la visualizzazione dell'ancora di spostamento dello scaffale all'hover del mouse
  web/components/ThreeComponents/Model3D/zone3D.tsx
Labels: Web

#67 WMS-117 Implementare funzionalità di ricerca delle zone
  web/components/custom/panels/Zone/zonePanel.tsx
Labels: Web

#68 WMS-137 Risolto performance issue causato dalla state variable is dragging
  web/app/main/page.tsx
  web/components/ThreeComponents/Model3D/bin3D.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/ThreeComponents/Warehouse.tsx
  web/components/providers/Threejs/warehouseProvider.tsx
Labels: Web

#69 WMS-138 Risolta possibilità di richiede uno spostamento sullo stesso bin di partenza
  web/components/ThreeComponents/Model3D/bin3D.tsx
Labels: Web

#61 Modifiche grafiche alla UI di onboarding
  web/app/page.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/creationForm/manualCreationFrame.tsx
  web/components/custom/creationForm/svgCreationFrame.tsx
  web/public/icons/upload.svg
Labels: Web

#72 WMS-129 Implementati comandi da tastiera
  web/components/ThreeComponents/ExtendedCameraControls.tsx
  web/components/ThreeComponents/Warehouse.tsx
Labels: Web

#73 WMS-145 Permettere spostamento camera con tastiera durante il trascinamento degli elementi
  web/components/ThreeComponents/ExtendedCameraControls.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
Labels: Web

#74 Revert "WMS-145 Permettere spostamento camera con tastiera durante il trascinamento degli elementi"
  web/components/ThreeComponents/ExtendedCameraControls.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
Labels: Web

#75 WMS-147 Limitare panning e trucking della scena
  web/components/ThreeComponents/ExtendedCameraControls.tsx
  web/components/ThreeComponents/Warehouse.tsx
Labels: Web

#76 WMS-144 Aggiunta funzionalità di reset della camera
  web/components/ThreeComponents/ExtendedCameraControls.tsx
Labels: Web

#65 Modifiche grafiche alla UI dell'app
  web/app/main/page.tsx
  web/components/custom/creationForm/creationForm.tsx
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/custom/panels/Products/productsPanel.tsx
  web/components/custom/panels/Settings/floorDimensionsItem.tsx
  web/components/custom/panels/Settings/restoreItem.tsx
  web/components/custom/panels/Settings/settingsPanel.tsx
  web/components/custom/panels/Zone/bin_columns.tsx
  web/components/custom/panels/Zone/levelItem.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/components/custom/panels/Zone/zonePanel.tsx
  web/components/custom/panels/panel.tsx
  web/components/ui/input.tsx
  web/components/ui/select.tsx
  web/components/ui/tooltip.tsx
  web/package-lock.json
  web/package.json
  web/public/icons/add.svg
  web/public/icons/orders.svg
  web/public/icons/products.svg
  web/public/icons/settings.svg
  web/public/icons/upload.svg
  web/public/icons/zone.svg
Labels: Web

#77 WMS-153 Fix calcolo lato maggiore SVG
  web/Strategy/FloorStrategy.tsx
Labels: Web

#78 WMS-154 Bloccare caricamento di file SVG di dimensione maggiore di 10 MB
  web/components/custom/creationForm/dropFileArea.tsx
  web/components/ui/sonner.tsx
Labels: Web

#79 WMS-151 Implementare server action per importazione delle zone vuote
  web/ServerActions/Zones/getAllEmptyZones.tsx
  web/__test__/Integration Test/Repository/zoneRepository.test.ts
  web/__test__/Integration Test/Zones/getAllEmptyZones.test.ts
  web/components/providers/zonesProvider.tsx
  web/dataRepository/zoneRepository.ts
Labels: Web

#80 WMS-140 Risolto l'utente può inserire un ID alfanumerico nel campo ID della zona
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

#81 WMS-149 Implementare grid snapping
  web/components/ThreeComponents/GridModeSelector.tsx
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/ThreeComponents/Warehouse.tsx
  web/components/providers/Threejs/warehouseProvider.tsx
  web/components/ui/toggle-group.tsx
  web/components/ui/toggle.tsx
  web/package-lock.json
  web/package.json
Labels: Web

#82 WMS-142 Corretto comportamento comandi camera durante drag
  web/components/ThreeComponents/Model3D/bin3D.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
Labels: Web

#83 WMS-150 Implementare collocamento prodotti non collocati
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/custom/panels/Bin/productCombobox.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/ui/command.tsx
  web/components/ui/popover.tsx
  web/package-lock.json
  web/package.json
Labels: Web

#84 WMS-Impostare valori decimali con massimo 2 numeri decimali
  web/components/custom/panels/Bin/binItemDetails.tsx
  web/components/custom/panels/Products/productItemDetails.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
Labels: Web

#85 WMS-118 Miscellanea
  web/components/ThreeComponents/GridModeSelector.tsx
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/components/providers/zonesProvider.tsx
Labels: Web

#86 rimozione metodo toFixed
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
Labels: Web

#88 Import statement
  web/components/ThreeComponents/Model3D/Floor.tsx
  web/components/ThreeComponents/Model3D/bin3D.tsx
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/ThreeComponents/Warehouse.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/components/providers/Threejs/warehouseProvider.tsx
Labels: Web

#90 WMS-118 Migliorata strategia di spostamento della camera
  web/__test__/DataMapperTest/zoneMapper.test.ts
  web/__test__/Unit Test/ModelTest/zone.test.ts
  web/components/ThreeComponents/Model3D/zone3D.tsx
  web/components/custom/panels/Zone/zoneCreationFrame.tsx
  web/components/custom/panels/Zone/zoneItemDetails.tsx
  web/model/zone.ts
Labels: Web

#91 WMS-146 Integrare coverage report
  .github/workflows/test_nodejs.yml
  web/jest.config.js
Labels: Actions, Web

#93 WMS-159 Collocare cartelle strategy e repository all'interno del modello
  web/model/FloorStrategy/FloorStrategy.tsx
  web/model/dataMapper/binMapper.ts
  web/model/dataMapper/dataMapperInterface.ts
  web/model/dataMapper/productMapper.ts
  web/model/dataMapper/zoneMapper.ts
  web/model/dataRepository/dataRepositoryInterface.ts
  web/model/dataRepository/productRepository.ts
  web/model/dataRepository/zoneRepository.ts
Labels: Web
